/* body {
    background-image: url(kuva32.jpg); 
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
}
*/

body {
    position: relative; /* Ensure proper positioning for the ::after pseudo-element */
    background-image: url(kuva32.jpg);
    background-size: cover;
}





#title {
    text-align: center;

   /* color: antiquewhite; */
    background-image: linear-gradient(90deg, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 60px;
}

.page2 {
    display: grid;
place-items: center;
 
}


/* .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px; /* Adjust height as needed 
    gap: 10px; /* Adjust gap between items 
}

.item1 {
  
   height: 260px;
   width: 440px;   
   margin: 20px 60px 20px;
}

.item3 {
  
   grid-row: span 2;
    height: 300px;
    width: 450px;  
    margin: 100px 50px 40px;
}

.item2 {
    grid-row: span 1;
    height: 370px;
    width: 550;  
    margin: 20px -40px 20px;
} */
